name: Work Stats Readme

on:
  workflow_dispatch:
  schedule:
    # Runs every 2 days
    - cron: "0 4 */2 * *"

jobs:
  update-readme:
    name: Update this repo's README
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with: # https://github.com/marketplace/actions/waka-readme#example
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          ### content
          SHOW_TITLE: true # optional
          SECTION_NAME: waka # optional
          BLOCKS: -> # optional
          SHOW_TOTAL: true # optional
          ### commit
          COMMIT_MESSAGE: Updated waka-readme graph with new metrics # optional
          COMMITTER_NAME: GitHubActionBot
